form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  align-self: flex-start;
}
.price-currency-container{
    display: flex;
   

    justify-content: space-between;
}