<h2>Create New Course</h2>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <mat-form-field appearance="fill">
    <mat-label>Course Name</mat-label>
    <input matInput formControlName="course_name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>University</mat-label>
    <input type="text" matInput formControlName="university" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let university of filteredUniversities | async" [value]="university">
        {{university}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
  </mat-form-field>


  <div class="price-currency-container">
    <mat-form-field class="currency-field" appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
          {{currency.code}} - {{currency.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="price-field" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" formControlName="start_date" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="end_date" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Course Description</mat-label>
    <textarea matInput formControlName="course_description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">Create Course</button>

</form>

<div *ngIf="isLoading">Loading universities...</div>