<h2>Create New Course</h2>

<form (ngSubmit)="onSubmit()" #courseForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>University</mat-label>
    <input matInput [(ngModel)]="course.university" name="university" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="course.city" name="city" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput [(ngModel)]="course.country" name="country" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Course Name</mat-label>
    <input matInput [(ngModel)]="course.course_name" name="course_name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Course Description</mat-label>
    <textarea matInput [(ngModel)]="course.course_description" name="course_description" required></textarea>
  </mat-form-field>

   <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" [(ngModel)]="course.start_date" name="start_date" required [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" [(ngModel)]="course.end_date" name="end_date" required [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" [(ngModel)]="course.price" name="price" required>
  </mat-form-field>


 <mat-form-field appearance="fill">
  <mat-label>Currency</mat-label>
  <mat-select [(ngModel)]="course.currency" name="currency" required>
    <mat-option *ngFor="let currency of currencies" [value]="currency.code">
      {{currency.code}} - {{currency.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.form.valid">Create Course</button>
</form>